
{{!-- /app/employee/template.hbs --}}
<div class="row page-header">
  <div class="col-xs-3">
    <h2>Full Name</h2>
  </div>
  <div class="col xs-3 pull-right">
    <button type="button" class="btn btn-success" {{action 'editEmployee'}}>Edit</button>
    <button type="button" class="btn btn-danger" {{action 'deleteEmployee'}}>Delete</button>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <dl class="dl-horizontal">
      <dt>First Name:</dt>
      <dd>{{firstName}}</dd>
      <hr>
      <dt>Last Name:</dt>
      <dd>{{lastName}}</dd>
      <hr>
      <dt>Email:</dt>
      <dd>{{email}}</dd>
      <hr>
      <dt>Occupation:</dt>
      <dd>{{occupation}}</dd>
      <hr>
    </dl>
  </div>

  {{#if isEditing}}
  {{!-- This will apper when user click on edit button --}}
  <div class="col-md-6 col-md-offset-1">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">First Name</label>
        <div class="col-sm-9">
          {{input type="text" class="form-control" value=firstName placeholder="First Name"}}
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-3 control-label">Last Name</label>
        <div class="col-sm-9">
          {{input type="text" class="form-control" value=lastName placeholder="Last Name"}}
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          {{input type="email" class="form-control" value=email placeholder="Email"}}
        </div>
      </div>
      <div class="form-group">
        <label for="occupation" class="col-sm-3 control-label">Occupation</label>
        <div class="col-sm-9">
          {{input type="text" class="form-control" value=occupation placeholder="Occupation"}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-primary" {{action 'saveChanges'}}>Save</button>
          <button type="submit" class="btn btn-default" {{action 'cancelChanges'}}>Cancel</button>
        </div>
      </div>
    </form>
  </div>
  {{/if}}
</div>